body {
    font-family:monotype corsiva;
    font-size: 18px;
    color:#ff5ba5;
    background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8curITJpyUL5LD-Ckr47ROyBpoffm60Unmg&usqp=CAU');
    background-attachment:fixed;
    background-size:cover;
    background-repeat:no-repeat;
    text-align:
}
p{
    font: monotype corsiva;
}